extends layout/main-layout.pug

block content
    main
        form(action="/admin/add-product" method="POST")
            div.form-control
                label(for="title") Title
                input(type="text" ,name="title")#title
            input(type="submit" ,name="submitBtn" ,value="Submit")

