<%- include('includes/head') %>
<%- include('includes/nav') %>
    <main>
        <% if (prods.length>0) {%>
            <% for (let product of prods) {%>
                <div class="grid">
                    <div class="card">
                        <img src="https://thegraphicsfairy.com/wp-content/uploads/2013/03/book-Image-royalty-free-GraphicsFairy1.jpg" alt="" width="50%"/>
                        <div class="title"> 
                            <h1><%=product.title %></h1>
                        </div>
                    </div> 
                </div>
            <% } %>
        <% } else { %>
            <h1>No product found!</h1>
        <% } %>
    </main>
<%- include('includes/footer') %>