<!DOCTYPE html>
<html>
<head>
	<title>{{pageTitle}}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<header class="main-header">
		<nav class="main-header__nav">
			<ul class="main-header__item-list">
				<li class="main-header__item" class="active"><a href="/">Shop</a></li>
				<li class="main-header__item"><a href="/admin/add-product">Add-Product</a></li>
			</ul>
		</nav>
	</header>

	<main>
        <div class="grid">
            {{#if hasProducts}}
                {{#each prods}}
                    <div class="card">
                        <img src="https://thegraphicsfairy.com/wp-content/uploads/2013/03/book-Image-royalty-free-GraphicsFairy1.jpg" alt="" width="50%"/>
                        <div class="title"> 
                            <h1>{{this.title}}</h1>
                        </div>
                    </div> 
                {{/each}}
            {{ else}}
                <h1>No Products found</h1>
            {{/if}}
        </div>

	</main>
</body>
</html>