
<main>
    <div class="grid">
        {{#if hasProducts}}
            {{#each prods}}
                <div class="card">
                    <img src="https://thegraphicsfairy.com/wp-content/uploads/2013/03/book-Image-royalty-free-GraphicsFairy1.jpg" alt="" width="50%"/>
                    <div class="title"> 
                        <h1>{{this.title}}</h1>
                    </div>
                </div> 
            {{/each}}
        {{ else}}
             <h1>No Products found</h1>
         {{/if}}
    </div>

</main>
