extends layout/main-layout.pug

block content
    main
        if prods.length > 0
            each product in prods
                .grid
                    .card
                        img(src="https://thegraphicsfairy.com/wp-content/uploads/2013/03/book-Image-royalty-free-GraphicsFairy1.jpg", alt="", width="50%")
                        .title
                            h1 #{product.title}
        else 
            h1 No Product found
